# 폴더 - 이미지
/BP_Api_File/food
/BP_Api_File/not_food_img
/BP_OB_Model/img
/BP_OB_Model/img_zip
/Model
/BP_OB_Model/Train
/BP_OB_Model/Val
/BP_OB_Model/Test
/BP_Model_JS/img

# 파일
/BP_Api_File/secrets.json
/BP_Model_JS/secrets.json
/kfood.zip
/azure.txt
/.vscode
/BP_OB_Model/runs
/BP_OB_Model/nohup.out

# yolov
/BP_OB_Model/yolov8n.pt
/BP_OB_Model/yolov8m.pt
/BP_OB_Model/yolov5mu.pt
/BP_OB_Model/yolov5lu.pt
.databricks

# nodeJS 파일/폴더
/BP_Model_JS/node_modules
/BP_Model_JS/package-lock.json
/BP_Model_JS/package.json

# flask 파일
/Server/__pycache__
/flask_test.py